@use "../../abstracts/index" as *;

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px 20px;

  @include breakpoint-down(md) {
    width: 6px;
    height: 6px;
  }
}
