@use "../abstracts/mixin" as *;

.container {
  $max-width: 1100px;
  $padding: 1rem;

  width: min($max-width, 100% - $padding);
  margin-inline: auto;
  position: relative;
}

.d-flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  @include flex(var(--jc), var(--ac), var(--gap));
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-inline: auto;
}

.noData {
  grid-column: 1 / 4;

  text-align: center;
}
