:root {
  --clr-primary-100: hsl(183, 59%, 42%);
  --clr-primary-200: hsl(174, 97%, 30%);
  --clr-primary-500: hsl(195, 70%, 30%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 96%);
  --clr-neutral-300: hsl(0, 0%, 78%);
  --clr-neutral-500: hsl(0, 0%, 26%);
  --clr-neutral-800: hsl(214, 83%, 11%);
  --clr-accent-400: #ff4530;
  --clr-accent-500: #ffc83d;
  --fs-75: 0.75rem;
  --fs-875: 0.875rem;
  --fs-1: 1rem;
  --fs-125: 1.25rem;
  --fs-15: 1.5rem;
  --fs-175: 1.75rem;
  --fs-25: 2.5rem;
  --fs-275: 2.75rem;
  --fs-5: 5rem;
  --fs-7: 15rem;
  --size-50: 0.5rem;
  --size-100: 1rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --fw-reguler: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --ff-primary: 'Poppins',sans-serif;
  --ff-secondary: 'Lora', sans-serif;
}

/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list] ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--ff-primary);
}

header.lg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px var(--clr-neutral-800);
}
@media (max-width: 766px) {
  header.lg {
    display: none;
  }
}
header.lg img {
  height: 60px;
}
@media (max-width: 990px) {
  header.lg img {
    height: 50px;
  }
}
header.lg .primary-navigation .nav-list {
  display: flex;
  gap: var(--size-100);
}
header.lg .primary-navigation .nav-list .list {
  list-style: none;
}
header.lg .primary-navigation .nav-list .list .active::after {
  width: 100%;
}
header.lg .primary-navigation .nav-list .list a {
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-size: var(--fs-875);
  font-weight: var(--fw-medium);
  position: relative;
}
header.lg .primary-navigation .nav-list .list a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--clr-primary-100);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
header.lg .primary-navigation .nav-list .list a:hover::after {
  width: 100%;
}
@media (max-width: 990px) {
  header.lg .primary-navigation .nav-list .list a {
    font-size: var(--fs-75);
  }
}

div.md {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--size-100);
  z-index: 100;
  background: var(--clr-primary-500);
  box-shadow: 0 -2px 5px var(--clr-neutral-800);
}
@media (min-width: 766px) {
  div.md {
    display: none;
  }
}
div.md .nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
div.md .nav-list .list {
  list-style: none;
  text-align: center;
  width: 50px;
  position: relative;
}
div.md .nav-list .list:nth-child(3) a {
  text-align: center;
  color: var(--clr-neutral-800);
  font-weight: var(--fw-medium);
}
div.md .nav-list .list:nth-child(3):before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: var(--clr-neutral-100);
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  transform: translateX(-15px) translateY(-10px);
  -webkit-transform: translateX(-15px) translateY(-10px);
  -moz-transform: translateX(-15px) translateY(-10px);
  -ms-transform: translateX(-15px) translateY(-10px);
  -o-transform: translateX(-15px) translateY(-10px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--clr-neutral-800);
}
@media (max-width: 375px) {
  div.md .nav-list .list:nth-child(3):before {
    width: 60px;
    height: 60px;
    transform: translateX(-5px) translateY(-4px);
    -webkit-transform: translateX(-5px) translateY(-4px);
    -moz-transform: translateX(-5px) translateY(-4px);
    -ms-transform: translateX(-5px) translateY(-4px);
    -o-transform: translateX(-5px) translateY(-4px);
  }
}
div.md .nav-list .list a {
  font-size: var(--fs-75);
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-weight: var(--fw-medium);
}
div.md .nav-list .list a img {
  margin-inline: auto;
  width: 100%;
  height: 40px;
}
@media (max-width: 375px) {
  div.md .nav-list .list a img {
    width: 80%;
    height: 30px;
  }
}

#timer {
  position: absolute;
  left: 25px;
}
@media (min-width: 990px) {
  #timer {
    left: 0;
    bottom: -30%;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
  }
}
@media (max-width: 766px) {
  #timer {
    right: 30px;
    top: -130px;
  }
}
@media (min-width: 766px) {
  #timer {
    bottom: 30px;
    left: 0;
  }
}
#timer p {
  font-size: 0.8rem;
}
@media (min-width: 766px) {
  #timer p {
    font-size: 1.25rem;
  }
}
@media (min-width: 990px) {
  #timer p {
    font-size: 1.5rem;
  }
}
#timer span {
  font-size: 0.75rem;
}
@media (min-width: 766px) {
  #timer span {
    font-size: 1.25rem;
  }
}
@media (min-width: 990px) {
  #timer span {
    font-size: 1.5rem;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px 20px;
}
@media (max-width: 766px) {
  .dot {
    width: 6px;
    height: 6px;
  }
}

.jadwal-sholat {
  width: 100%;
  background-color: var(--clr-neutral-100);
  border-radius: var(--size-100);
  -webkit-border-radius: var(--size-100);
  -moz-border-radius: var(--size-100);
  -ms-border-radius: var(--size-100);
  -o-border-radius: var(--size-100);
  transform: translateY(-80px);
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  box-shadow: 0 0.5rem 0.5rem var(--clr-neutral-800);
  padding: var(--size-100) var(--size-100);
  background: var(--clr-neutral-100);
  position: relative;
}
@media (max-width: 990px) {
  .jadwal-sholat {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
  }
}
@media (max-width: 766px) {
  .jadwal-sholat {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    padding: var(--size-100) var(--size-100);
  }
}
@media (max-width: 576px) {
  .jadwal-sholat {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    padding: var(--size-100) var(--size-100);
  }
}
.jadwal-sholat .box {
  width: 100%;
  height: 100%;
  border: 2px solid var(--clr-neutral-800);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  border-radius: var(--size-50);
  -webkit-border-radius: var(--size-50);
  -moz-border-radius: var(--size-50);
  -ms-border-radius: var(--size-50);
  -o-border-radius: var(--size-50);
}
.jadwal-sholat .box.active::before, .jadwal-sholat .box.active::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), var(--clr-primary-100), var(--clr-accent-400), var(--clr-accent-500));
  border-radius: inherit;
  animation: rotation 4s linear infinite;
  opacity: 1;
}
.jadwal-sholat .box.active::after {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
@media (min-width: 576px) {
  .jadwal-sholat .box {
    flex-direction: row;
  }
  .jadwal-sholat .box .box-image {
    width: 50%;
  }
  .jadwal-sholat .box .box-content {
    width: 60%;
  }
}
.jadwal-sholat .box .box-image {
  width: 100%;
  padding: var(--size-50);
  margin: 0 auto;
  background: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-800);
}
.jadwal-sholat .box .box-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  user-select: none;
}
.jadwal-sholat .box .box-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-800);
  background: linear-gradient(180deg, var(--clr-neutral-800), var(--clr-primary-500));
}
@media (max-width: 576px) {
  .jadwal-sholat .box .box-content p {
    font-size: 0.5rem;
  }
  .jadwal-sholat .box .box-content span {
    font-size: 0.5rem;
  }
}
.jadwal-sholat.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--size-100);
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 180deg;
  inherits: false;
}
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  row-gap: var(--size-300);
  column-gap: var(--size-150);
}
.wrapper-grid .card {
  text-decoration: none;
  border-radius: var(--size-50);
  -webkit-border-radius: var(--size-50);
  -moz-border-radius: var(--size-50);
  -ms-border-radius: var(--size-50);
  -o-border-radius: var(--size-50);
  border: 2px solid var(--clr-neutral-800);
  padding: clamp(var(--size-50), 5vw, var(--size-100));
  position: relative;
}
.wrapper-grid .card .text-arab {
  padding-top: var(--size-200);
  text-align: right;
  font-size: var(--fs-275);
  text-overflow: ellipsis;
  direction: rtl;
  unicode-bidi: embed;
  overflow: hidden;
  text-wrap: nowrap;
}
.wrapper-grid .card .text-arti {
  padding-top: var(--size-200);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.wrapper-grid .card a {
  height: 100%;
  width: 100%;
}
.wrapper-grid .card::before, .wrapper-grid .card::after {
  content: "";
  position: absolute;
  inset: -0.3rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), var(--clr-primary-100), var(--clr-primary-200), var(--clr-neutral-800));
  border-radius: inherit;
  animation: rotation 4s linear infinite;
  opacity: 0;
}
.wrapper-grid .card::after {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.wrapper-grid .card:hover::before, .wrapper-grid .card:hover::after {
  opacity: 1;
}
.wrapper-grid .content {
  position: relative;
  z-index: 10;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  z-index: 1000;
  display: grid;
  place-items: center;
}
.loading .circle {
  width: 75px;
  height: 75px;
  border: var(--size-100) solid var(--clr-neutral-300);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-top-color: var(--clr-primary-100);
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
.loading .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  -webkit-transform: translate(-45%, -50%);
  -moz-transform: translate(-45%, -50%);
  -ms-transform: translate(-45%, -50%);
  -o-transform: translate(-45%, -50%);
  color: var(--clr-primary-500);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.hero {
  position: relative;
}

.hero-content {
  background-image: url("../../images/hero.jpg");
  background-size: cover;
  background-position: 0 70%;
  max-width: 100%;
  aspect-ratio: 20/9;
  user-select: none;
  padding: var(--size-100);
}
@media (min-width: 766px) {
  .hero-content {
    padding-top: 4rem !important;
  }
}
.hero-content .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}
.hero-content .wrapper .location {
  color: var(--clr-neutral-800);
  align-items: start;
}
.hero-content .wrapper .location small {
  background: var(--clr-primary-500);
  border: 1px solid var(--clr-neutral-100);
  border-radius: 100vw;
  padding: 0.25rem var(--size-100);
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}
.hero-content .wrapper h1 {
  text-shadow: 0 10px 20px var(--clr-neutral-800);
}
@media (max-width: 375px) {
  .hero-content .wrapper .hijriyah {
    font-size: 0.6rem;
  }
}
@media (max-width: 766px) {
  .hero-content .wrapper .location {
    font-size: var(--fs-75);
    margin-right: auto;
  }
  .hero-content .wrapper .location small {
    padding: 0.1rem var(--size-50);
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
  .hero-content .wrapper p {
    margin-right: auto;
  }
  .hero-content .wrapper span {
    margin-right: auto;
  }
  .hero-content .wrapper h1 {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
}

@media (max-width: 766px) {
  .hero-content {
    aspect-ratio: 16/9;
  }
}
.hari-ini .wrapper-grid {
  padding-bottom: var(--size-200);
}
@media (max-width: 766px) {
  .hari-ini .wrapper-grid {
    grid-template-rows: auto 250px auto auto 250px auto;
  }
}
@media (min-width: 766px) {
  .hari-ini .wrapper-grid {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    row-gap: var(--size-500);
    padding-bottom: var(--size-400);
  }
}
.hari-ini .wrapper-grid .card .content .arab-kaligrafi {
  font-size: var(--fs-5);
  font-family: "DMS Saleem QuranFont Regular";
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
@font-face {
  font-family: "DMS Saleem QuranFont Regular";
  src: url("../../font/_PDMS_Saleem_QuranFont Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@media (max-width: 766px) {
  .hari-ini .wrapper-grid .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.hari-ini .wrapper-grid .card.nama-allah {
  background: url("../../images/card/Asmaul Husna.jpeg");
  background-blend-mode: darken;
}
@media (max-width: 766px) {
  .hari-ini .wrapper-grid .card.nama-allah .details {
    margin-bottom: auto;
  }
  .hari-ini .wrapper-grid .card.nama-allah .text {
    margin-bottom: auto;
  }
}
.hari-ini .wrapper-grid .card.Doa1 {
  background: url("../../images/card/Doa1.jpeg");
  background-size: cover;
  background-position: center;
}
.hari-ini .wrapper-grid .card.Doa2 {
  background: url("../../images/card/Doa2.jpg");
  background-size: cover;
  background-position: 10% 30%;
}
.hari-ini .wrapper-grid .card.Dzikir2 {
  background: url("../../images/card/Dzikir2.jpeg");
  background-size: cover;
  background-position: 10% 75%;
}
.hari-ini .wrapper-grid .card.Dzikir1 {
  background: url("../../images/card/Dzikir1.jpeg");
  background-size: cover;
  background-position: 10% 90%;
}
@media (max-width: 766px) {
  .hari-ini {
    padding-bottom: 7rem;
  }
}

footer img {
  margin-inline: auto;
}
footer p {
  user-select: none;
}
@media (max-width: 766px) {
  footer {
    display: none;
  }
}

.container {
  width: min(1100px, 100% - 1rem);
  margin-inline: auto;
  position: relative;
}

.d-flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
  justify-content: var(--jc);
  align-items: var(--ac);
  gap: var(--gap);
}

.text-center {
  text-align: center;
}

.ml-auto {
  margin-inline: auto;
}

.noData {
  grid-column: 1/4;
  text-align: center;
}

.text-primary-100 {
  color: hsl(183, 59%, 42%);
}

.bg-primary-100 {
  background: hsl(183, 59%, 42%);
}

.text-primary-200 {
  color: hsl(174, 97%, 30%);
}

.bg-primary-200 {
  background: hsl(174, 97%, 30%);
}

.text-primary-500 {
  color: hsl(195, 70%, 30%);
}

.bg-primary-500 {
  background: hsl(195, 70%, 30%);
}

.text-neutral-100 {
  color: hsl(0, 0%, 100%);
}

.bg-neutral-100 {
  background: hsl(0, 0%, 100%);
}

.text-neutral-200 {
  color: hsl(0, 0%, 96%);
}

.bg-neutral-200 {
  background: hsl(0, 0%, 96%);
}

.text-neutral-300 {
  color: hsl(0, 0%, 78%);
}

.bg-neutral-300 {
  background: hsl(0, 0%, 78%);
}

.text-neutral-500 {
  color: hsl(0, 0%, 26%);
}

.bg-neutral-500 {
  background: hsl(0, 0%, 26%);
}

.text-neutral-800 {
  color: hsl(214, 83%, 11%);
}

.bg-neutral-800 {
  background: hsl(214, 83%, 11%);
}

.text-accent-400 {
  color: #ff4530;
}

.bg-accent-400 {
  background: #ff4530;
}

.text-accent-500 {
  color: #ffc83d;
}

.bg-accent-500 {
  background: #ffc83d;
}

.fs-75 {
  font-size: 0.75rem;
}

.fs-875 {
  font-size: 0.875rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-125 {
  font-size: 1.25rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-175 {
  font-size: 1.75rem;
}

.fs-25 {
  font-size: 2.5rem;
}

.fs-275 {
  font-size: 2.75rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-7 {
  font-size: 15rem;
}

.fs-body {
  font-size: var(--fs-1);
}

.fs-primary-heading {
  font-size: clamp(var(--fs-275), 11.95vw - 1.324rem, var(--fs-7));
}

.fs-secondary-heading {
  font-size: clamp(var(--fs-75), 0.1338rem + 2.6291vw, var(--fs-25));
}

.fs-third-heading {
  font-size: clamp(var(--fs-75), 0.1338rem + 2.6291vw, var(--fs-175));
}

.fs-subheading {
  font-size: clamp(0.75rem, -0.1021rem + 1.5023vw, var(--fs-125));
}

.fw-reguler {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.p-block-50 {
  padding-block: clamp(0.5rem, 5vw, 0.5rem);
}

.p-block-100 {
  padding-block: clamp(var(--size-50), 5vw, 1rem);
}

.p-block-150 {
  padding-block: clamp(0.5rem, 5vw, 1.5rem);
}

.p-block-200 {
  padding-block: clamp(var(--size-50), 5vw, 2rem);
}

.p-block-300 {
  padding-block: clamp(var(--size-50), 5vw, 3rem);
}

.p-block-400 {
  padding-block: clamp(var(--size-300), 5vw, 4rem);
}

.p-block-500 {
  padding-block: clamp(var(--size-200), 5vw, 5rem);
}

.p-bot-50 {
  padding-bottom: 0.5rem;
}

.p-bot-100 {
  padding-bottom: 1rem;
}

.p-bot-150 {
  padding-bottom: 1.5rem;
}

.p-bot-200 {
  padding-bottom: 2rem;
}

.p-bot-300 {
  padding-bottom: 3rem;
}

.p-bot-400 {
  padding-bottom: 4rem;
}

.p-bot-500 {
  padding-bottom: 5rem;
}

.p-top-50 {
  padding-top: 0.5rem;
}

.p-top-100 {
  padding-top: 1rem;
}

.p-top-150 {
  padding-top: 1.5rem;
}

.p-top-200 {
  padding-top: 2rem;
}

.p-top-300 {
  padding-top: 3rem;
}

.p-top-400 {
  padding-top: 4rem;
}

.p-top-500 {
  padding-top: 5rem;
}

.ff-primary {
  font-family: 'Poppins',sans-serif;
}

.ff-secondary {
  font-family: 'Lora', sans-serif;
}

::-webkit-scrollbar {
  width: var(--size-100);
}

::-webkit-scrollbar-track {
  background: var(--clr-neutral-300);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-500);
  border-radius: var(--size-100);
  -webkit-border-radius: var(--size-100);
  -moz-border-radius: var(--size-100);
  -ms-border-radius: var(--size-100);
  -o-border-radius: var(--size-100);
}

/*# sourceMappingURL=index.css.map */
