$colors: (
  primary: (
    100: hsl(183, 59%, 42%),
    200: hsl(174, 97%, 30%),
    500: hsl(195, 70%, 30%),
  ),

  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 96%),
    300: hsl(0, 0%, 78%),
    500: hsl(0, 0%, 26%),
    800: hsl(214, 83%, 11%),
  ),

  accent: (
    400: #ff4530,
    500: #ffc83d,
  ),
);
